@charset "UTF-8";

// 共通

html{
  font-size: 62.5%;
}

img{
  max-width: 100%;
  height: auto;
}

.main{
  margin-top: 50px;
}


@media (min-width:768px) {
  .pc-none{
    display: none;
  }
}

@media (max-width:767px) {
  .sp-none{
    display: none;
  }
}

// =====section=====
.section{
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff;
  &._gray_{
    background-color: #EAEAEA;
  }
  @media (min-width:768px) {
    padding-top: 40px;
    padding-bottom: 80px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.section__title{
  font-weight: bold;
  text-align: center;
  font-size: 2.3rem;
  @media (min-width:768px) {
    font-size: 3.2rem;
  }
}
// =====section=====

// =====header=====
.header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  box-shadow: 0px 10px 10px -5px #e0e0e0;
  background-color: #fff;
  z-index: 1;
}

.header__title{
  padding: 10px;
  color: #333;
  font-weight: bold;
  font-size: 2rem;
}
//-----nav------
.nav{
  position: absolute;
  top: 0;
  /*ナビメニューを左に隠した状態になる*/
  right: -40%;
  width: 40%;
  height: 100vh;
  /*０.7秒かけてナビメニューがスライドする*/
  transition: 0.7s;
  text-align: center;
  background-color: #404040;
  z-index: 1000;
}

.nav__list{
  padding-top: 80px;
}

.nav__item{
  font-size: 2rem;
  color: #fff;
  &:not(:first-child){
    margin-top: 10px;
  }
}
//-----nav------

// -----hamburger-----
.hamburger{
  position: absolute;
  top: 15px;
  right: 30px;
  width: 25px;
  height: 20px;
  cursor: pointer;
  z-index: 1001;
  transition: 1s;
}

.hamburger__line {
  display: block;
  position: absolute;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #000;
  transition: 1s all;
  border-radius: 4px;
  &._top_{
    top: 0;
  }
  &._middle_ {
    top: 9px;
  }
  &._bottom_ {
    bottom: 0px;
  }
}


.in{
  transform: translateX(-100%);
}
.line_1,.line_2,.line_3{
  background: #fff;
}
.line_1 {
  /*-45度回転させる*/
  transform: translateY(9px) rotate(-45deg);
}
.line_2 {
  opacity: 0;
}
.line_3 {
  /*45度回転させる*/
  transform: translateY(-9px) rotate(45deg);
}
// -----hamburger-----
// =====header=====

// =====mv=====
.mv{
  position: relative;
  height: 761px;
  &::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 761px;
    background: url(../images/mv-img-pc@2x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
  }
}

.mv__wrap{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  color: #fff;
}

.mv__title{
  line-height: 1.3;
  font-weight: bold;
  font-size: 4rem;
  @media (min-width:768px) {
    font-size: 6rem;
  }
}

.mv__text{
  margin-top: 10px;
  font-size: 1.5rem;
  @media (min-width:768px) {
    font-size: 2rem;
  }
}
// =====mv=====

// =====card=====
// -----cardWrap-----
.cardWrap{
  max-width: 1500px;
  margin: auto;
  @media (min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 60px 80px;
  }
}
// -----cardWrap-----

.card{
  margin: auto;
  margin-top: 40px;
  max-width: 400px;
  &:not(:first-child){
    margin-top: 30px;
  }
  @media (min-width:768px) {
    margin-top: 50px;
    &:not(:first-child){
      margin-top: 50px;
    }
  }
}

.card__img{
  max-width: 100%;
  height: auto;
}

.card__headding{
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.8rem;
  @media (min-width:768px) {
    margin-top: 24px;
    font-size: 2.4rem;
  }
}

.card__text{
  margin-top: 3px;
  font-size: 1.6rem;
  @media (min-width:768px) {
    margin-top: 5px;
    font-size: 1.8rem;
  }
}
// =====card=====

// =====works=====
.works__list{
  @media (min-width:768px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 40px;
    margin-top: 50px;
  }
}

.works__listItem{
  margin-top: 40px;
  @media (min-width:768px) {
    width: 45%;
    margin: 0;
  }
}

.works__imgWrap{
  text-align: center;
}

.works__textWrap{
  max-width: 360px;
  margin: 0 auto;
  margin-top: 20px;
  @media (min-width:768px) {
    margin-top: 40px;

  }
}

.works__headding{
  font-weight: bold;
  font-size: 18px;
}

.works__text{
  font-size: 16px;
  margin-top: 10px;
}
// =====works=====

// =====about=====

.about{
  margin-top: 40px;
  @media (min-width:768px) {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
}

.about__imgWrap{
  text-align: center;
}

.about__text{
  margin-top: 30px;
  line-height: 1.3;
  font-size: 16px;
  @media (min-width:768px) {
    margin-top: 0;
    font-size: 18px;
  }
}

// =====about=====