doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description" content="blueberryのポートフォリオサイトです！")
    meta(name="robots" content="noindex,nofollow")
    link(rel="stylesheet" href="./assets/css/styles.css")
    link(rel="stylesheet" href="./assets/css/sanitize.css")
    title blueberry portfolio
  body
    header.header
      h1.header__title blueberry portfolio
      nav.gnav
        ul.gnav__list
          li.gnav__item Works
          li.gnav__item Skill
          li.gnav__item About
          li.gnav__item Contact
    main
    footer